$color-primary: #52734D;
$color-primary-light: #78a372;
$color-primary-dark: #32452f;

$color-secondary: #101d2c;
$color-secondary-light: #91C788;
$color-secondary-dark: #45693f;

$color-tertiary-light: #DDFFBC;
$color-tertiary-dark: #172905;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$header-color: #728f55;



$font-color-primary: #FEFFDE;
$font-display: 'Josefin Sans', sans-serif;
