<div class="signUp">            
    <form [formGroup]="loginForm" class="loginForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label> UserName</mat-label>
                <input matInput type="text" formControlName="userName" placeholder="Enter Username">
                <mat-error *ngIf="!loginForm.get('userName').valid"> This is a required field</mat-error>
            </mat-form-field>
        </div>
        <div>            
        <mat-form-field appearance="outline">
            <mat-label> Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password">
            <mat-error *ngIf="!loginForm.get('password').valid"> This is a required field</mat-error>
        </mat-form-field>
        </div>
        <div>
            <button (click)="login()" [disabled]="!loginForm.valid" mat-raised-button color="primary" class="fullButton">Sign In</button>
        </div>
    </form>
</div>